<!DOCTYPE html>
<html>

<head>
  <title>Scala.js + Laminar = Love</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
  <div id="app-container"></div>
  <script type="text/javascript">
    var ___appConfig = JSON.parse(<%= JSON.stringify(JSON.stringify(htmlWebpackPlugin.options.config)) %>);
    window.app.App.start();
  </script>
</body>

</html>